.container {
  width:100vw;
  height: 90svh;
  background-color: #111;
  overflow: auto;
}

.textContainer{
  width:90vw;
  max-width: 1000px;
  line-height: 1.6;
  color: #fff;
  margin: 0 auto;
  padding: 1rem 2rem;
  overflow-y: auto; /* ✅ allow native scrolling */
  -webkit-overflow-scrolling: touch; /* iOS smooth scroll */
}


.h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.p {
  margin-bottom: 1rem;
}

.ul {
  margin: 0 0 1rem 1.5rem;
  list-style-type: disc;
}

.li {
  margin-bottom: 0.5rem;
}
